header {
    background: #9817c0;
    /* Old browsers */
    background: -moz-linear-gradient(145deg, #9817c0 25%, #302bed 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(145deg, #9817c0 25%,#302bed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(305deg, #9817c0 25%,#302bed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#9817c0', endColorstr='#302bed',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */

    padding-bottom: 40px;

    @media only screen and (min-width: 768px) {

    padding-bottom: 0px;
        background: #9817c0;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #9817c0 25%, #302bed 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #9817c0 25%,#302bed 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #9817c0 25%,#302bed 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#9817c0', endColorstr='#302bed',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */
    }
    .menu_slide {
        position: fixed;
        z-index: 100;
        top: -100vh;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: #4a3867;
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(center);
        @include align-items(center);
        -webkit-transition: 0.8s ease-in-out;
        -moz-transition: 0.8s ease-in-out;
        -o-transition: 0.8s ease-in-out;
        transition: 0.8s ease-in-out;

        .menu_content {
            width: 80%;
            max-width: 332px;
            position: relative;

            ul {
                a{
                    color: inherit;
                }
                li {
                    margin-bottom: 50px;
                    font-size: 2.5em;
                    font-weight: 900;
                    color: white;
                    position: relative;
                    width: 100%;
                    cursor: pointer;
                    @media only screen and (min-width: 768px) {
                        margin-bottom: 60px;
                        font-size: 3em;
                    }

                    &::after {
                        content: " ";
                        background-image: url("../../img/brackets.svg");
                        background-repeat: no-repeat;
                        position: absolute;
                        right: 0;
                        top: 12px;
                        height: 14px;
                        width: 8px;
                        background-size: contain;
                        -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
                        animation-play-state: paused;
                        -webkit-transition: all 0.7s ease-in-out;
                        -moz-transition:  all 0.7s ease-in-out;
                        -o-transition:  all 0.7s ease-in-out;
                        -transition: all 0.7s ease-in-out;
                    }
                    &:hover{
                        color: #2bc8ff;
                        &::after{
                            right: 20%;
                            background-image: url("../../img/brackets_blue.svg");


                            // -webkit-animation: shake .8s;
                            // animation: shake .8s;
                            // -webkit-animation-play-state: running; /* Safari 4.0 - 8.0 */
                            // animation-play-state: running;
                        }
                        @keyframes shake {
                        10%, 90% {
                        transform: translate3d(-1px, 0, 0);
                        }

                        20%, 80% {
                        transform: translate3d(2px, 0, 0);
                        }

                        30%, 50%, 70% {
                        transform: translate3d(-4px, 0, 0);
                        }

                        40%, 60% {
                        transform: translate3d(4px, 0, 0);
                        }
                    }

                    }
                }
            }

            .close_menu {
                width: 48px;
                height: 48px;
                position: absolute;
                right: -10px;
                top: -69px;
                cursor: pointer;
                @media only screen and (min-width: 768px) {
                    right: -107px;
                    top: -100px;
                }

                img {
                    width: 90%;
                    @media only screen and (min-width: 768px) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .menu_toggle {
        top: 0;
    }


    .menu {
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition:  all 0.7s ease-in-out;
        -o-transition:  all 0.7s ease-in-out;
        -transition: all 0.7s ease-in-out;
        @media only screen and (max-width: 767px) {
            position: fixed;
            z-index: 50;
            top: 0;
            left: 0;
            width: 100vw;

        }
        position: relative;

        h1 {
            img {
                margin: 17px 0;
                width: 160px;
                height: 18px;
                @media only screen and (min-width: 768px) {
                    margin: 40px 0;
                    width: 235px;
                    height: 30px;
                }
            }
        }

        .menu_hamburger {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 15px;
            @include flexbox();
            @include flex-wrap(wrap);
            @media only screen and (min-width: 768px) {
                top: 44px;
                right: 0;
            }

            p {
                font-size: 1.6em;
                font-weight: 700;
                color: white;
                padding-right: 16px;
                display: none;
                @media only screen and (min-width: 768px) {
                    display: inline;
                }
            }

            #hamburger {
                width: 34px;
                height: 23px;
                position: relative;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
                cursor: pointer;
                @media only screen and (max-width: 767px) {
                    transform: scale(.9);
                }
            }

            #hamburger span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background: white;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.25s ease-in-out;
                -moz-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out;
            }

            #hamburger span:nth-child(1) {
                top: 0;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }

            #hamburger span:nth-child(2) {
                top: 10px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }

            #hamburger span:nth-child(3) {
                top: 20px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }

            #hamburger.open span:nth-child(1) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                top: -3px;
                left: 8px;
            }

            #hamburger.open span:nth-child(2) {
                width: 0;
                opacity: 0;
            }

            #hamburger.open span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                top: 21px;
                left: 8px;
            }
        }
    }

    .background_menu{
        @media only screen and (max-width: 767px) {
            background: #4a3867 !important;
            -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
            -moz-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
            box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
        }

    }

    .header_title {
        text-align: center;
        color: white;

        h2 {
            opacity: 0;
            font-weight: 900;
            font-size: 3.6em;
            padding: 90px 0 15px;
            line-height: 1.4em;
            color: white;
            @media only screen and (min-width: 768px) {
                padding: 38px 0 0;
            }
            @media only screen and (min-width: 992px) {
                padding: 60px 0 18px;
                font-size: 4.6em;
            }
        }

        p {
            opacity: 0;
            font-size: 1.8em;
            margin-bottom: 30px;
            line-height: 1.6em;
            @media only screen and (min-width: 768px) {
                margin-bottom: 100px;
            }
            @media only screen and (min-width: 992px) {
                font-size: 2em;
            }

            img {
                width: 50px;
                height: 50px;
                display: block;
                margin: 20px auto;
                animation-name: pulse_animation;
                animation-duration: 4000ms;
                transform-origin:70% 70%;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                @keyframes pulse_animation {
                    0% { transform: scale(1); }
                    30% { transform: scale(1); }
                    40% { transform: scale(1.12); }
                    50% { transform: scale(1); }
                    60% { transform: scale(1); }
                    70% { transform: scale(1.08); }
                    80% { transform: scale(1); }
                    100% { transform: scale(1); }
                }
                @media only screen and (min-width: 768px) {
                    margin: 0;
                    display: inline-block;
                    position: relative;
                    top: 13px;
                    left: 11px;
                }
                @media only screen and (min-width: 992px) {
                    width: 56px;
                    height: 56px;
                    top: 23px;
                    left: 31px;
                }
            }

            a {
                color: #2bc8ff;
                text-decoration: none;
            }
        }
    }
    .show{
        opacity: 1;
    }

    .btn_sort_project {
        position: relative;
            @media only screen and (min-width: 1400px) {
                padding-left: 60px;

            }
        .hover_sort{
            display: none;
            @media only screen and (min-width: 768px) {
                display: inline-block;
                background-image: url(../../img/hover_sort_tablet.svg);
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 10px;
                top: 8px;
                width: 160px;
                height: 56px;
            }
            @media only screen and (min-width: 800px){
                width: 170px;
                height: 60px;
            }
            @media only screen and (min-width: 992px){
                top: 2px;
                background-image: url(../../img/hover_sort.svg);
                width: 210px;
                height: 70px;
            }
            @media only screen and (min-width: 1200px){
                width: 266px;
                height: 80px;
            }
        }

        @media only screen and (min-width: 768px) {
            @include flexbox();
            @include flex-wrap(wrap);
            @include justify-content(space-around);
        }


        div.nav_sort {

            @media only screen and (max-width: 767px) {
                display: none;
            }
            padding: 15px 28px;
            cursor: pointer;
            margin-bottom: 40px;
            z-index: 10;

            @media only screen and (min-width: 1400px) {
                @include justify-content(flex-start);
                margin-right: 66px;

            }


            p {
                color: white;
                font-weight: 700;
                -webkit-transition: all 0.7s ease-in-out;
                -moz-transition:  all 0.7s ease-in-out;
                -o-transition:  all 0.7s ease-in-out;
                -transition: all 0.7s ease-in-out;

                &:nth-child(1) {
                    font-size: 1em;
                    padding-bottom: 7px;
                    @media only screen and (min-width: 992px) {
                        font-size: 1.2em;
                    }
                }

                &:nth-child(2) {
                    font-size: 1.4em;
                    @media only screen and (min-width: 992px) {
                        font-size: 1.6em;
                    }
                }
            }
        }
        div.actived{
            p{
                color: #2bc8ff;
            }
        }

    }
}

.mobile_flex{
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(center);
}
.mobile{
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(center);
    border: 2px solid #2bc8ff;
    border-radius: 40px;
    padding: 20px 0 0px 40px;
    width: 100%;
    text-align: left;
    position: relative;
    cursor: pointer;
    position: relative;
    &>div{

        // position: relative;
        // left: -20px;
    }
    .mobile_div{
        width: 205px;
        @media only screen and (min-width: 450px) {
            width: 155px;
        }
    }
    &:before{
        content: "";
        background-image: url(../../img/arrow_down.svg);
        width: 16px;
        height: 10px;
        position: absolute;
        top: 35px;
        right: 33px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition:  all 0.7s ease-in-out;
        -o-transition:  all 0.7s ease-in-out;
        -transition: all 0.7s ease-in-out;
    }

    @media only screen and (min-width: 768px) {
        display: none;
    }
    .no_touch{
        pointer-events: none;

    }
    .mobile_item ,.mobile_item_catch{
        display: inline-block;
        // margin-bottom: 40px;
        cursor: pointer;
        p {
            color: white;
            font-weight: 700;
            -webkit-transition: all 0.7s ease-in-out;
            -moz-transition:  all 0.7s ease-in-out;
            -o-transition:  all 0.7s ease-in-out;
            -transition: all 0.7s ease-in-out;

            &:nth-child(1) {
                font-size: 1.5em;
                padding-bottom: 7px;
                @media only screen and (min-width: 992px) {
                    font-size: 1.2em;
                }
            }

            &:nth-child(2) {
                font-size: 1.9em;
                @media only screen and (min-width: 992px) {
                    font-size: 1.6em;
                }
            }
        }
    }
    .mobile_item{
        padding-bottom: 23px;
    }
    .mobile_item_catch{
        display: none;
    }
    .slide{
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(center);
        max-width: 140px;
        position: relative;
        top: -20px;
        opacity: 0;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition:  all .1s ease-in-out;
        -o-transition:  all .1s ease-in-out;
        -transition: all .1s ease-in-out;
        display: none;
        div{
            width: 100%;
        }

    }
    .slide_open{
        opacity: 1;
        top: 0px;
    }
    .active_sort{
        p{
            color: #2bc8ff;
        }
    }
}

.rotate{
    padding-bottom: 0px;
        .mobile_item{
        }
        &:before{
            transform: rotate(180deg);
        }
}
